body{
    background-image: linear-gradient(0deg, #DADBD4 85%, #009688 15%);
}

#root {
    padding: 20px 0;
}

/* Generics  */
i {
    color: #B1B1B1;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

/*UTILS*/

.circle {
    height: 60px;
    width: 60px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.circle.bigger {
    height: 70px;
    width: 70px;
}

.circle img{
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.fs-small-custom {
    font-size: 13px;
}

.custom-bg-grey {
    background-color: #EAEAEA;
}

.message {
    min-height: 55px;
    width: 40%;
    border-radius: 10px;
    margin: 10px;
    padding: 0 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.fa-caret-down{
    display: flex;
}

.dropdown {
    background-color: white;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    bottom: 20px;
    left: calc(100% - 150px);
}